:root {
  --css-primary: #34c94b;
  --css-black: #121212;
  --css-white: #fff;
}
html,
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend {
  margin: 0;
  padding: 0;
  background: var(--css-black);
  color: var(--css-white);
  font-family: Poppins;
}
